body {
    display: grid;
    background-color: hsl(0, 0%, 94%);
    place-items: center;
}

section {
    width: 50%;
}

h1 {
    font-size: 54px;
    font-weight: 900;
    text-align: justify;
}
