section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, red, yellow);
    /* background-image: linear-gradient(to top right, red, yellow); */

    background-image: radial-gradient(red, yellow);

    background-image: repeating-radial-gradient(red, yellow);
}