body {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
}

/* Units : 
            Absolute: px, in, pt 
            Relative: %, em, rem 
*/

/* PIXELS */

/* h1 {
    font-size: 54px;
    color: purple;
} */

/* PERCENTAGE 
    16px = 100%
    1px = 6.25%
    54px = 
*/

/* h1 {
    font-size: 337.5%;
} */

/* em is a relative unit, it is calculated based on the font size of nearest parent element
   1em = 16px 
*/

/* html parent has 10px so 1em = 10px */

/* h1 {
    font-size: 10em;
} */

/* rem is a relative unit, it is calculated based on the font size of root(html) element
   1rem = 16px
*/

html {
    font-size: 20px;
}

h1 {
    font-size: 10rem;
}