@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Urbanist:wght@400;600&display=swap');

/* @font-face {
    font-family: 'AlumniSansInlineOne-Italic';
    src: url(./fonts/AlumniSansInlineOne-Italic.ttf);
} */

body {
    display: grid;
    background-color: hsl(0, 0%, 94%);
    place-items: center;
}

.hero-section {
    width: 50%;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 54px;
    /* font-weight: 900; */
    font-style: italic;
    font-variant: small-caps;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    /* font-weight: 200; */
}